
@import '../../../scss/mixins.scss';
@import '../../../scss/variants.scss';


    #btn_right_act {
        
        margin: auto;
        border: none;
        background: none;
        
        
    }
    #btn_right_des {
        
       visibility: hidden;        
    }
    
    #btn_right:hover {
        cursor: pointer;
    } 
    
    #btn_left_act {
        
        margin: auto;
        border: none;
        background: none;
    }
    
    #btn_left:hover {
        cursor: pointer;
    }
    
    #btn_left_des {
        
        visibility: hidden;  
    }

    #page {
        
        margin: auto;
    }


    