
@import '../../../scss/mixins.scss';
@import '../../../scss/variants.scss';

.form_register {

    margin-top: -1.5rem;
    
    h2 {
        //color:#CDCDC0;
        font-size: 2rem;
        margin-bottom: 8vh;
        margin-top: -8rem;
        display: flex;
        justify-content: center;
        
    }
    
    form {
        @include form();
    };

    input {
        margin-top: -1rem;
        @include input_form($box_shadow, $backform, 1rem, 3.8rem)
    }

    .containerBTN{

        position: absolute;
        background-image: url('../../../img/noteIcon_05.png');
        background-size: 5rem;
        background-repeat: no-repeat;
        background-position: 8rem -2rem;
        top: 15.6rem;

        button {
            margin-left: 9.5vw;
            margin-top: -1rem; 
            @include button(none)
        };
    }
}

@media screen and (max-width: 950px) {
    .form_register {
        input {
            width: 20vw;
        }

        button {
            margin-left: 6.7vw;
        }
    }
}

@media screen and (max-width: 950px) {
    .form_register {
        input {
            width: 20vw;
        };

        button {
            margin-left: 5.8vw;
        }
    }
}

@media screen and (max-width: 800px) {
    .form_register {
        input {
            width: 18.9vw;
        };

        button {
            margin-left: 5.5vw;
        }
    }
}

@media screen and (max-width: 740px) {
    .form_register {
        input {
            width: 18.3vw;
        };

        button {
            margin-left: 4.8vw;
        }
    }
}

@media screen and (max-width: 650px) {
    .form_register {
        input {
            width: 17.5vw;
        };

        button {
            margin-left: 3.7vw;
        }
    }
}