
@import '../../../scss/mixins.scss';
@import '../../../scss/variants.scss';

.form_register {

    margin-top: -11rem;
    
    h2 {
        background: rgba(255, 255, 255, 0.616);
        border-radius: 15px 15px 0px 0px ;
        position: absolute;
        margin-top: -7rem;
        margin-left: -2rem;
        width: 25rem;
        text-align: center;
        font-size: 2rem;
        
    }
    
    form {
        margin-top: 4rem;
        @include form()
    };

    input {
        
        @include input_form($box_shadow, $backform, 1rem, .5rem);
        background: white;
        margin-bottom: 1rem;
    }

    .container_err_name {
        position: absolute;
        top: -6.5rem;
    }
    .container_err_mail {
        position: absolute;
        top: -2rem;
    }
    .container_err_pass {
        position: absolute;
        bottom: 4rem;
        
    }

    .containerBTN{

        background: $color4;
        position: absolute;
        left: 0;
        right: 0;
        top: 8rem;
        bottom: 0;
        margin: auto;
        height: 2rem;
        width: 4rem;
        border-radius: 15px;

        button {
            @include button(none);
            position: relative;
            width: 0;
            left: .7rem;
            right: 0;
            top: .2rem;
            bottom: 0;
            margin: auto;
        };
    }
}

@media screen and (max-width: 950px) {
    .form_register {
        input {
            width: 20vw;
        }

        button {
            margin-left: 6.7vw;
        }
    }
}

@media screen and (max-width: 950px) {
    .form_register {
        input {
            width: 20vw;
        };

        button {
            margin-left: 5.8vw;
        }
    }
}

@media screen and (max-width: 800px) {
    .form_register {
        input {
            width: 18.9vw;
        };

        button {
            margin-left: 5.5vw;
        }
    }
}

@media screen and (max-width: 740px) {
    .form_register {
        input {
            width: 18.3vw;
        };

        button {
            margin-left: 4.8vw;
        }
    }
}

@media screen and (max-width: 360px) {
    .form_register {
        
        h1 {
            margin-bottom: 8vh;
            margin-top: -5rem;
        }

    }
}