
@import '../../../scss/mixins.scss';
@import '../../../scss/variants.scss';

.form_register {
    
    h2 {

        background: rgba(255, 255, 255, 0.616);
        border-radius: 15px 15px 0px 0px ;
        margin-top: 0;
        text-align: center;
        font-size: 2rem;
        
    }
    
    form {

        @include form(2.2rem, 0)
    }

    #btn_eyeSlash {
        @include eye_slash()        
    }

    .container_err_name {
        @include register-err(15rem)
    }
    .container_err_mail {
        @include register-err(19rem)
    }
    .container_err_pass {
        @include register-err(23rem)
    }

    .containerBTN{

        margin: auto;
        border-radius: 15px;

        button {
            @include button($color4);
            margin: 0;
            height: 2rem;
            font-size: .8rem
        };
        button:hover {
            
            background: white;
        }
    }
}

@media screen and (max-width: 950px) {
    .form_register {
        input {
            width: 20vw;
        }

        button {
            margin-left: 6.7vw;
        }
    }
}

@media screen and (max-width: 950px) {
    .form_register {
        input {
            width: 20vw;
        };

        button {
            margin-left: 5.8vw;
        }
    }
}

@media screen and (max-width: 800px) {
    .form_register {
        input {
            width: 18.9vw;
        };

        button {
            margin-left: 5.5vw;
        }
    }
}

@media screen and (max-width: 740px) {
    .form_register {
        input {
            width: 18.3vw;
        };

        button {
            margin-left: 4.8vw;
        }
    }
}

@media screen and (max-width: 360px) {
    .form_register {
        
        #btn_eyeSlash {
            margin: 0;
        }

        .container_err_name {
            top: 15.2;
            left: 5rem;
        }
        .container_err_mail {
            top: 19;
            left: 5rem;
        }
        .container_err_pass {
            top: 23rem;
            left: 5rem;
            @include register-err(23rem)
        }

    }
}