
@import '../../../scss/mixins.scss';
@import '../../../scss/variants.scss';

.form {

    margin-top: -1.5rem;
    
    h2 {
        //@include backStyle(10rem, 3rem, -.7rem, 5.5rem );
        font-size: 2rem;
        margin-bottom: 8vh;
        margin-top: -8rem;
        display: flex;
        justify-content: center;
    };
    
    form {
        @include form()
    };
    
    
    input {
        margin-top: -1rem;
        @include input_form($box_shadow, $backform, 1rem, 3.8rem)
    }

    .containerBTN{

        background-image: url('../../../img/noteIcon_05.png');
        background-size: 5rem;
        background-repeat: no-repeat;
        background-position: 8rem 3.9rem;
        

        button {
            margin-left: 9.5vw;
            margin-top: 15vh; 
            @include button(none)
        };
    }
    
}

@media screen and (max-width: 950px) {
    .form {
        input {
            width: 20vw;
        }

        button {
            margin-left: 6.7vw;
        }
    }
}

@media screen and (max-width: 950px) {
    .form {
        input {
            width: 20vw;
        };

        button {
            margin-left: 5.8vw;
        }
    }
}

@media screen and (max-width: 800px) {
    .form {
        input {
            width: 18.9vw;
        };

        button {
            margin-left: 5.5vw;
        }
    }
}

@media screen and (max-width: 740px) {
    .form {
        input {
            width: 18.3vw;
        };

        button {
            margin-left: 4.8vw;
        }
    }
}

@media screen and (max-width: 650px) {
    .form {
        input {
            width: 17.5vw;
        };

        button {
            margin-left: 3.7vw;
        }
    }
}
@media screen and (max-width: 360px) {
    .form {
        input {
            width: 35.5vw;
        };

        button {
            margin-left: 9vw;
        }
    }
}