
@import '../../../../scss/mixins.scss';
@import '../../../../scss/variants.scss';


.container_filter {
    position: absolute;
    right: 5rem;
    
    .filter {
        position: absolute;
        background: $backform;
        border: none;
        border-radius: 10px;
        right: .5vw;
        top: -5vh;
}

}

.container_notes {
    margin: .5rem;
    background: $backform;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

.not_note {
    position: absolute;
    left: 0;
    right: 0;
    top: 6vw;
    margin: auto;
    text-align: center;
    //background: $backform;
    width: 10rem;
    //border-radius: 15px;
    //box-shadow: 0px 0px 15px 2px $borderColor;
}

.container_notes:hover {
    cursor: pointer;
    //background: $backgraundColor_2;
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px 3px black;
}

.filter:hover {
    cursor: pointer;
}

@media screen and (max-width: 360px) {
    
    .container_filter {
        right: 1rem;
    }

    .container_notes:hover {
        transform: none;
        box-shadow: none;
    }
}