
@import '../../scss/mixins.scss';
@import '../../scss/variants.scss';


body {
    ::-webkit-scrollbar {
        //@include scrollbar( 5vw, 5vh);
    }
};

.home {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    height: 32rem;
    margin: 2rem;

    justify-content: center;
    align-items: center;
}

.container_form {
    //@include containerForm($borderColor, $backgraundColor_3, -60vw, 20vh, 30vw, 70vh)
    display: grid;
    justify-content: center;

}

.container_form_emerg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.container_note {
    
    width: 50vw;
    height: 36vh;
    margin: auto;
    box-shadow: $box_shadow;
    border-radius: 10px;
    background: $color4;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-auto-rows: minmax(7rem, 7rem);

    grid-column: 2;
    grid-row: 1;

    //grid-template-rows: minmax(100px, auto);
}

.container_pagination {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    align-self: flex-end;
    height: 10rem;
}

@media screen and (max-width: 360px) {
    
    .home {
        grid-template-columns: repeat(1, 1fr); 
        gap: 0;
    }

    .container_note {
        grid-column: 1;
        grid-template-columns: repeat(2, 1fr);
        width: 21rem;
        height: 21rem;
    }

    .container_pagination {
        grid-column: 1;
        height: 1.5rem;
    }

    .btn_new_note {
        
        background: $color4;
        border: none;
        border-radius: 15px;
        height: 1.5rem;
        box-shadow: 0px 0px 15px #00000091;
    }
}



