
@import '../../../../scss/mixins.scss';
@import '../../../../scss/variants.scss';

.containerNewNote {
    background-color: $color4;
    @include form();
    padding: .6rem;
    border-radius: 15px;

    input {
        @include note_input($color1, $backform, 1.3rem, 3vh)
    };

    textarea {
        @include textArea_form($borderColor, $backform);
        
    };

    button {
        margin-top: -1rem;
        box-shadow: 0px 0px 15px black;
        @include button($backform)
    }
}