
@import '../../scss/mixins.scss';
@import '../../scss/variants.scss';


body {
    overflow: hidden;
    background: azure;
}

.landing {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 14rem;
    bottom: 0px;
    margin: auto;

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    p {
        text-align: center;
        font-size: 1.5rem;
                
        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            color: $color4;
        }

        button:hover {
            transform: scale(1.2,1.2);
            border-bottom: 1px solid $color3 ;
        }
    }
}

.check-mail {
    p {
        text-align: center;
        margin-top: 15rem;
        font-size: 2rem;
    }
}

.containerIMGLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}


.containerForm_login {
    @include containerForm(26rem, 20rem);
}

.containerForm_register {
    @include containerForm(26rem, 22rem);
}

.send_btn_login {
    position: absolute;
    top: 32rem;
    left: 60.2vw;
    right: 0;
    margin: auto;
    
    background: none;
    border: none;
    cursor: pointer;

    border-bottom: 1px solid black;
}

.send_btn_login:hover {
    border-bottom: 1px solid black;
}

.send_btn_register {
    position: absolute;
    top: 31.5rem;
    left: 60vw;
    right: 0;
    margin: auto;
    
    background: none;
    border: none;
    cursor: pointer;

    border-bottom: 1px solid black;
}

.send_btn_register:hover {
    border-bottom: 1px solid black;
}



@media screen and (max-width: 360px) {

    .containerIMGLanding {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .containerForm_login {
        @include containerForm(19rem, 18.5rem)
    }

    .containerForm_register {
        @include containerForm(19rem, 22rem)
    }

    .send_btn_login {
        left: 72.5vw;
        top: 81vh;
        font-size: 1rem;
    }

    .send_btn_register {
        left: 72.5vw;
        top: 78vh;
        font-size: 1rem;
    }
}
