
@import '../../scss/mixins.scss';
@import '../../scss/variants.scss';


body {
    background: url('../../img/noteIcon_04.png');
    background-size: 90rem 60rem;
    background-position-x: -5rem;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 6rem;
    bottom: 0px;
    margin: auto;

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    p {
        text-align: center;
        font-size: 1.5rem;
                
        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.2rem;
            color: $color4;
        }

        button:hover {
            transform: scale(1.2,1.2);
            border-bottom: 1px solid $color3 ;
        }
    }
}

.check-mail {
    p {
        text-align: center;
        margin-top: 15rem;
        font-size: 2rem;
    }
}

.containerIMGLanding {
    box-shadow: 0px 0px 15px black;
    background: $color3;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 25rem;
    width: 25rem;
}


.containerForm_login {
    @include containerForm($borderColor, $backgraundColor_3, 0rem, 14rem, 21rem, 10rem)
}
.containerForm_register {
    @include containerForm($borderColor, $backgraundColor_3, 0rem, 14rem, 21rem, 10rem)
}

.send_btn_login {
    position: absolute;
    top: 28rem;
    left: 25.5vw;
    right: 0;
    margin: auto;
    
    background: none;
    border: none;
    cursor: pointer;

    border-bottom: 1px solid black;
}

.send_btn_login:hover {
    border-bottom: 1px solid black;
}

.send_btn_register {
    position: absolute;
    top: 28rem;
    left: 25.5vw;
    right: 0;
    margin: auto;
    
    background: none;
    border: none;
    cursor: pointer;

    border-bottom: 1px solid black;
}

.send_btn_register:hover {
    border-bottom: 1px solid black;
}

@media screen and (max-width: 1200px) {

    
    .containerForm_login {
        @include containerForm($borderColor, $backgraundColor_3, 0, 35vh, 25vw, 30vh)
    }

    .containerForm_register {
        @include containerForm($borderColor, $backgraundColor_3, 0, 35vh, 25vw, 36vh)
    }

    .send_btn_login {
        top: 68vh;
    }

    .send_btn_register {
        top: 75vh;
    }
}

@media screen and (max-width: 360px) {

    body {
        overflow: hidden;
        background: azure;
    }

    .containerIMGLanding {
        height: 1rem;
        background-size: 22rem 23rem; 
        left: -1.4rem;
        top: 5rem;
    }

    .containerForm_login {
        @include containerForm($borderColor, $backgraundColor_3, -23rem, 10rem, 12rem, 5rem)
    }

    .containerForm_register {
        @include containerForm($borderColor, $backgraundColor_3, -23rem, 10rem, 12rem, 5rem)
    }

    .send_btn_login {
        left: 52.5vw;
        top: 53vh;
    }

    .send_btn_register {
        left: 55vw;
        top: 53vh;
    }
}
