
@import '../../scss/mixins.scss';
@import '../../scss/variants.scss';

body {
    background: $backform;
}

.containerForm_login {
    @include containerForm($borderColor, $backgraundColor_3, 0, 35vh, 25vw, 30vh)
}
.containerForm_register {
    @include containerForm($borderColor, $backgraundColor_3, 0, 35vh, 25vw, 36vh)
}

.send_btn_login {
    position: absolute;
    top: 59.1vh;
    left: 17vw;
    right: 0;
    margin: auto;
    @include button($backform);
    
}

.send_btn_register {
    position: absolute;
    top: 65.5vh;
    left: 17vw;
    right: 0;
    margin: auto;
    @include button($backform);
}