

@mixin backStyle ($sizeX, $sizeY, $Py, $Px) {
    background-image: url('../img/n.png');
    background-repeat: no-repeat;
    background-size: $sizeX $sizeY;
    background-position-y: $Py;
    background-position-x: $Px;
    
}

@mixin buttonStyles($width:auto, $height:auto, $bg:none, $bR:0) {
    width: $width;
    height: $height;
    outline: none;
    background: $bg;
    border: 1px solid transparent;
    border-radius: $bR;
    cursor: pointer;
    font-size: 1rem;
}

@mixin containerForm($whidth, $height) {
   
    width: $whidth;
    height: $height;

    background: #3c9ec3;
    box-shadow: $box_shadow;
    border-radius: $b-radius;
}

@mixin register-err($top) {
    position: absolute;
    top: $top;
    left: 36rem;

    p {
        margin: 0;
    }
}

@mixin form($gap, $mg-top) {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $gap;

    margin-top: $mg-top;

    input {
        
        font-size: 1rem;
        text-align: center;
        margin: auto;
        border: none;
        border-radius: 15px;

        height: 1.5rem;
        width: 16rem;

        outline: none;
    }
}

@mixin button($bgColor) {
    cursor: pointer;
    width: 5rem;
    border: none;
    border-radius: 15px;
    background: $bgColor;
}

@mixin hoverBTN($bgColor, $color) {
    background: $bgColor;
    color: $color;
    transform: scale(1.2,1.2);
}

@mixin input_form($brColor, $bgColor, $font_s, $height) {
    
    background: none;
    
    font-size: $font_s;
    border: none;
    border-radius: 10px;
    height: $height;
    outline: none;
    text-align: center;
    
    
}

@mixin note_input($brColor, $bgColor, $font_s, $height){
    background: $bgColor;
    box-shadow: 0px 0px 15px black;
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    height: $height;
    outline: none;
    text-align: center;
}

@mixin textArea_form($brColor, $bgColor) {
    
    background: $bgColor;
    box-shadow: 0px 0px 20px black;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    height: 24vh;
    text-align: center;
    font-size: 1rem;
}

@mixin scrollbar($width, $height) {
    width: $width;
    height: $height;
}

@mixin scrollbar_thum ($colorScroll){
    background: $colorScroll;
    border-radius: 4px;
}

@mixin  scroll_hover($colorScroll) {
    background: $colorScroll;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
}

@mixin scroll_active ($colorScroll) {
    background: $colorScroll;
}

@mixin eye_slash () {
    background: none;
    border: none;
    #eyeSlashDisabled {
        font-size: 1.2rem;
        color: $color4;
        cursor: pointer;
    };
    
    #eyeSlashDisabled:hover {
        transform: scale(1.1,1.1)
    };
    
    #eyeSlashActive {
        font-size: 1.2rem;
        color: black;
        cursor: pointer;       
    }
    
    #eyeSlashActive:hover {
        transform: scale(1.1,1.1)
    }

}