/* $backgraundColor_2: #00293C;
$backgraundColor_1: #1E656D;
$backgraundColor_3: #F1F3CE; */

// COLORS
$backgraundColor_1: #9A9EAB;
$borderColor: #626D71;
$backform: #CDCDC0;
$backgraundColor_2: #DDBC95;
$backgraundColor_3: #B38867;

$iconError: #bd937b;


// box-shadow

$box_shadow: 0px 0px 15px #626D71;
